@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.text-costum{
    font-size:4rem;
    font-weight: bold;
}


@media (max-width: 575.98px) { 
    .text-costum{
        font-size:1rem;
    }
 }


@media (max-width: 767.98px) {  
    .text-costum{
        font-size:2rem;
    } 

    #carouselExampleControls{
       display:none;
    }
}




