$color-yellow: #C18F5A;
.ms-6{
    margin-left: 10rem;
}
.bg-menu{
   
    background:#860629 !important; 
}
.bg-hero {
    background:#A20D37 !important;
} 
.hero {
    
    .hero-red-bd{
        z-index: 1;
    }
    .costum-color-yellow{
        color: $color-yellow;
    }

    .carousel-indicators{
        z-index: 100;
    }
    .carousel{
        z-index:2;
    } 
}

.menu-principal{
   a {
    position: relative;
    width: 100%;
   }
    a:before{
        content: '';
        position:absolute;
        bottom:0;
        height: 0.3rem;
        width: 0%;
        background: $color-yellow;
        transition: all 0.4s linear;
    }

     a:hover:before{
        width: 80%;
    }

    
}