@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "./custom_variable";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./custom_carousel";
@import "./section_hero";
.z-index--1 {
    z-index: -1;
}
.input-group{
    width: 15%;
    height: 15%;
}

@media (min-width:768px) {
    .search-input{
        width: 50%;
    }
}
